body,
h1, h2, h3, h4, h5, h6,
.main-nav a,
.subscribe-button,
.page-title,
.post-meta,
.read-next-story .post:before,
.pagination,
.site-footer {
    font-family: 'Lato', Helvetica, 'Open Sans', sans-serif;
}

pre {
    background: inherit;
}

.social a {
    font-size: 1.2em;
    text-decoration: none;
    margin-right: .5em;
}

.author-profile .social a {
    font-size: 1.5em;
}

.social a:hover {
    border: none;
    color: #000;
}

.logo {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  float: left;
}

.logo > i {
  padding: .25em;
  font-size: 1.5em;
}
